# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# Logs
*.log
*.out
*.err

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# VS Code
.vscode/

# Streamlit cache
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db